<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cleitinho Camisetas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>

  <ion-card>
    <img alt="Camisa Preta" src="assets/img/camisapreta.png" />
    <ion-card-header>
      <ion-card-title>Camisas Pretas </ion-card-title>
      <ion-card-subtitle>Camisa Preta com preços acessíveis, n° <p> contato é XX-XXXXX-XXXX</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Camisa preta com tamanhos variáveis num bom preço, para todas as idades e para todos os tipos!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/camisascoloridas.jpg" />
    <ion-card-header>
      <ion-card-title>Camisas Coloridas </ion-card-title>
      <ion-card-subtitle>Camisas Coloridas com preços acessíveis, n° <p> contato é XX-XXXXX-XXXX</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Camisas Coloridas com tamanhos variáveis num bom preço, para todas as idades e para todos os tipos!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/camisabranca.jpg" />
    <ion-card-header>
      <ion-card-title>Camisas Brancas </ion-card-title>
      <ion-card-subtitle>Camisa Branca com preços acessíveis, n° <p> contato é XX-XXXXX-XXXX</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Camisa Branca com tamanhos variáveis num bom preço, para todas as idades e para todos os tipos!
    </ion-card-content>
  </ion-card>
</ion-content>
